/* Calendar.css (or your preferred CSS file) */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Stylish&family=Sunflower:wght@500&display=swap');

body {
  background-color: #f6f6f6;
  justify-content: center;
  display: flex;
}

.App {

  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Stylish', serif;
  font-family: 'Sunflower', sans-serif;
}


.calendar-count {
  padding-left: 50px;
}


.calendar-table td a {
  display: block;
  width: 100%;
  height: 100%;
}

.resetBtn {
  background-color: aqua;
  width: 150px;
  height: 45px;
}

/*ColorChange*/


button {
  width: 150px;
  height: 150px;
  border: none;
  font-family: 'Sunflower';
  font-size: 18px;
}

.AskDay {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.BtnPink {
  background-color: pink;
  color: white;
}

.BtnDefault {
  background-color: white;

}

.BtnGreen {
  background-color: green;
  color: white;
}

.BtnNavy {
  background-color: navy;
  color: white;
}

.BtnRed {
  background-color: red;
  color: white;
}

.BtnPurple {
  background-color: purple;
  color: white;
}

.BtnGray {
  background-color: gray;
  color: white;
}